Repository TPPH/LP-library: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:oauth, build:song, build:streaming, build:favorites, docker:oauth, docker:song, docker:streaming, docker:favorites

build:oauth:
  stage: build
  image: gradle:jdk17
  script:
  - ./gradlew :OauthService:clean :OauthService:build
  artifacts:
    paths:
    - OauthService/build/libs/
    expire_in: 1 hour

build:song:
  stage: build
  image: gradle:jdk17
  script:
  - ./gradlew :SongService:clean :SongService:build
  artifacts:
    paths:
    - SongService/build/libs/
    expire_in: 1 hour

build:streaming:
  stage: build
  image: gradle:jdk17
  script:
  - ./gradlew :StreamingService:clean :StreamingService:build
  artifacts:
    paths:
    - StreamingService/build/libs/
    expire_in: 1 hour

build:favorites:
  stage: build
  image: gradle:jdk17
  script:
  - ./gradlew :FavoritesService:clean :FavoritesService:build
  artifacts:
    paths:
    - FavoritesService/build/libs/
    expire_in: 1 hour

docker:oauth:
  stage: push
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  script:
  - docker build -t $DOCKER_USER/oauth-service:$IMAGE_TAG ./OauthService
  - docker push $DOCKER_USER/oauth-service:$IMAGE_TAG
  dependencies:
  ...

docker:song:
  stage: push
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  script:
  - docker build -t $DOCKER_USER/song-service:$IMAGE_TAG ./SongService
  - docker push $DOCKER_USER/song-service:$IMAGE_TAG
  dependencies:
  - build:song

docker:streaming:
  stage: push
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  script:
  - docker build -t $DOCKER_USER/streaming-service:$IMAGE_TAG ./StreamingService
  - docker push $DOCKER_USER/streaming-service:$IMAGE_TAG
  ...

docker:favorites:
  stage: push
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  script:
  - docker build -t $DOCKER_USER/favorites-service:$IMAGE_TAG ./FavoritesService
  - docker push $DOCKER_USER/favorites-service:$IMAGE_TAG
  ...

faster ci test2
  .gitlab-ci.yml
Due: none

add kafka
  FavoritesService/src/main/java/com/LP_library/FavoritesService/Kafka/SongValidationConsumer.java
  FavoritesService/src/main/java/com/LP_library/FavoritesService/Kafka/SongValidationProducer.java
  FavoritesService/src/main/java/com/LP_library/FavoritesService/config/KafkaConfig.java
  FavoritesService/src/main/java/com/LP_library/FavoritesService/service/FavoriteService.java
  SongService/build.gradle
  SongService/src/test/java/com/LP_library/SongService/SearchControllerIntegrationTest.java
Due: build:song, build:favorites, docker:song, docker:favorites

streaming audio working
  FavoritesService/src/main/java/com/LP_library/FavoritesService/service/FavoriteService.java
  FavoritesService/src/main/java/com/LP_library/FavoritesService/service/KafkaSongValidator.java
  FavoritesService/src/main/resources/application.yml
  SongService/Dockerfile
  SongService/src/main/java/com/LP_library/SongService/kafka/SongValidationConsumer.java
  StreamingService/Dockerfile
  StreamingService/build.gradle
  StreamingService/src/main/java/com/example/streamingservice/Controller/AudioController.java
  StreamingService/src/main/java/com/example/streamingservice/Service/AudioStreamingService.java
  StreamingService/src/main/resources/application.properties
  compose.yaml
Due: build:song, build:streaming, build:favorites, docker:song, docker:streaming, docker:favorites

streaming audio working
  StreamingService/src/main/java/com/example/streamingservice/Config/AzureBlobConfig.java
Due: build:streaming, docker:streaming

test commit without tag
  StreamingService/build.gradle
  StreamingService/src/main/java/com/example/streamingservice/Config/SecurityConfig.java
  StreamingService/src/main/java/com/example/streamingservice/Controller/AudioController.java
  compose.yaml
Due: build:streaming, docker:streaming

deploy push
  SongService/src/main/java/com/LP_library/SongService/config/CorsConfig.java
  SongService/src/main/java/com/LP_library/SongService/config/SecurityConfig.java
  SongService/src/main/java/com/LP_library/SongService/controller/SongController.java
  SongService/src/main/java/com/LP_library/SongService/service/SongService.java
Due: build:song, docker:song

new deploy server
  StreamingService/src/main/java/com/example/streamingservice/Config/CorsConfig.java
  StreamingService/src/main/java/com/example/streamingservice/Config/SecurityConfig.java
  StreamingService/src/main/java/com/example/streamingservice/Controller/AudioController.java
  StreamingService/src/main/java/com/example/streamingservice/Service/AudioStreamingService.java
  kubernetes/favorites-service-service.yaml
Due: build:streaming, docker:streaming

new deploy server2
  OauthService/src/main/java/com/LP_library/OauthService/Config/CorsConfig.java
Due: build:oauth, docker:oauth

new deploy server2
  StreamingService/src/main/java/com/example/streamingservice/Config/AzureBlobConfig.java
Due: build:streaming, docker:streaming

new deploy server3
  kubernetes/favorites-service-deployment.yaml
  kubernetes/oauth-service-deployment.yaml
  kubernetes/song-service-deployment.yaml
  kubernetes/streaming-service-deployment.yaml
Due: none

new deploy server2
  StreamingService/build.gradle
Due: build:streaming, docker:streaming

new deploy server2
  kubernetes/favorites-service-deployment.yaml
  kubernetes/oauth-service-deployment.yaml
  kubernetes/song-service-deployment.yaml
  kubernetes/streaming-service-deployment.yaml
Due: none

new deploy server5242
  .gitlab-ci.yml
  kubernetes/favorites-service-deployment.yaml
  kubernetes/oauth-service-deployment.yaml
  kubernetes/song-service-deployment.yaml
  kubernetes/streaming-service-deployment.yaml
Due: none

Snyk
  .gitlab-ci.yml
  kubernetes/favorites-service-deployment.yaml
  kubernetes/oauth-service-deployment.yaml
  kubernetes/song-service-deployment.yaml
  kubernetes/streaming-service-deployment.yaml
Due: none

Snyk2
  .gitlab-ci.yml
Due: none

new snyk
  .gitlab-ci.yml
Due: none

complete snyk
  .gitlab-ci.yml
Due: none

dependabot push
  .github/dependabot.yml
Due: none

dependabot push2
  .github/dependabot.yml
Due: none

Path conditions:
  build:oauth: any of: OauthService/**/*
  build:song: any of: SongService/**/*
  build:streaming: any of: StreamingService/**/*
  build:favorites: any of: FavoritesService/**/*
  docker:oauth: any of: OauthService/**/*
  docker:song: any of: SongService/**/*
  docker:streaming: any of: StreamingService/**/*
  docker:favorites: any of: FavoritesService/**/*
